* {padding:0;margin:0;}
html {height:100%;overflow-y:scroll;}
body { font-family: arial, tahoma ; font-size:13px; height:100%; }
a{text-decoration:none; outline:none; color:/*#0066CC*//*#3399CC*/ #2058B5}
a:hover {text-decoration:underline; cursor:pointer}
img{border:0}
ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
label {cursor:pointer}
td {vertical-align:top}
h2 { font-weight:normal}
.b{ font-weight:bold !important}
.i{ font-style:italic}
.u{ text-decoration: underline}
.c { text-align:center}
.r { text-align:right}
.l { text-align:left}
.s {font-size:11px;}
.ss {font-size:10px;}
.fl { float:left}
.fr { float:right}
.fn {float:none !important}
.ma {margin:0 auto}
.wa {width:auto !important}
.pr {position:relative}
.of {overflow:hidden;}
.pt {cursor:pointer;}
.br {height:0;line-height:0;clear:both;overflow:hidden;}
.g {color:#999}
.hide {display:none}
.vb {vertical-align:bottom !important}
.vt {vertical-align:top !important}
.vm {vertical-align:middle !important}
.hidden {visibility:hidden;}
.clear {clear:both}
body {background: #101010}

#slidecaption p, #slidecaption h2, #pagination-full div a, #pagination div a, #main h5, #main h4, #main h3, #main h2.section_title, #main h2, #main h1, #navbar li span, h1, h2, h3, h4, h5, #navbar li a {
    font-family: 'Quicksand',sans-serif;
}

#page {
	height: 100%;
    margin: 0 auto;
    position: relative;
    width: 1000px;
    z-index: 100;
}
.content {
	font-family: 'Quicksand',Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
	margin-left: 240px;
	color: #fff;
	padding:0 20px 60px 20px;
    width: 700px;
    position: relative;
}
.content h3{
	clear: left;
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 200;
    padding: 10px 0;
}
/*.content ul {
	margin: -10px 0 20px;
}
.content ul li {
    list-style-image: url("../img/list_arrow.png");
    list-style-position: inside;
    margin-top: 5px;
}
.content ul ul {
    margin-top: 5px;
}
.content ul li li {
    list-style-type: none;
    margin-left: -35px;
}
.content ul li ul li {
    list-style-image: url("../img/list_second_arrow.png");
    margin-left: 35px;
}*/
.content h2 {
	font-size: 18px;
	padding: 10px 0;
}
.logo {
	height: 180px;
    width: 220px;
    background: url(../img/logo.png) no-repeat center center;
    display: block;
    text-indent: -9999px;
    position: absolute;
    top:0;
    left: 10px
}
.nav {
	display: inline-block;
    position: fixed;
    top: 0;
    width: 240px;
    z-index: 500;
    font-family: 'Quicksand', arial;
}
.menu{
	background: url("../img/main_menu_bg.png") repeat-y scroll left top rgba(0, 0, 0, 0);
    width: 220px;
    padding: 180px 10px 1px 10px
}
.menu div {
	position: relative;
}
.menu div.sl a {
	display: block;
	border-top: 1px solid #343434;
    height: 49px;
    line-height: 48px;
    padding: 0 0 0 19px;
    position: relative;
    width: 160px;
    z-index: 10000;
    color: #fff;
    margin-left:20px;
    text-decoration: none;
}
.menu ul {
	background: url("../img/main_menu_bg.png") repeat-y scroll left top rgba(0, 0, 0, 0);
	position: absolute;
	left: 210px;
	width: 220px;
	padding: 0 10px 0px 10px;
	display: none;
	top: 0;
}
.menu ul li:first-child a {
    border-top: none;
}
.lastA{
	border-bottom: 1px solid #343434;
}
.miniNavWrap {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    bottom: 0;
    color: #A3A3A3;
    height: 42px;
    line-height: 42px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.miniNav{
    font-size: 11px;
    font-weight: 400;
    margin: auto;
    text-align: center;
    width: 960px;
    font-family: Quicksand

}
.miniNav a {
	text-decoration: none;
	color: white;
	margin: 0 10px 0 10px;
}
.lang{
    bottom: 0;
    display: block;
    height: 42px;
    position: fixed;
    right: 0;
    z-index: 1000;
    padding-right: 12px;
    font-size:11px;
}
.lang a {
	float: left;
	display: block;
	color: #fff;
	text-decoration: none;
	margin: 0 7px 0 7px;
    font-family: Quicksand;
    color: #808080;
}
.contactIcons{
	height: 30px;
	line-height: 30px;
	padding: 20px 20px 5px 20px;
	position: relative;
}
.contactIcons a {
	margin: 0 20px 0 20px;
}
.email {
	width: 16px;
	height:10px;
	background: url(../img/email.png) no-repeat center center;
	cursor: pointer;
	position: absolute !important;
}
.phone {
	width: 22px;
	height: 11px;
	background:url(../img/t/phone.png) no-repeat center center;
	cursor: pointer;
	position: absolute !important;
	left: 80px
}
.fax {
	width: 18px;
	height: 16px;
	background: url(../img//t/fax.png) no-repeat center center;
	cursor: pointer;
	position: absolute !important;
	right: 20px;
	top: 16px;
}

/*about us page*/
.about_poster {
    width: 700px;
    height: 250px;
    background: url(../photo/about_poster.jpg) no-repeat;
}
/*end baout us*/
/*publication page*/
.publication_poster {
    width: 700px;
    height: 250px;
    background: url(../photo/publication_poster.jpg) no-repeat;
}

