.aPost h3 {
	position: absolute;
	bottom: 6px;
	left: 10px;
	text-shadow:1px 1px #64666b;
	font-size: 20px;
	font-weight: bold;
	font-family: Quicksand

}
.aPost img{
	width: 330px;
	height: 185px
}
.postContent {
	clear: both;
}

.postText {
	padding-left: 10px;
	/*truncate text*/
	height: 110px;
	overflow: hidden;
	white-space: nowrap;
  	text-overflow: ellipsis;
  	/*end truncate*/
}
.aPost {
	margin-bottom: 20px;
	float: left;
	width: 330px;
	height: 185px;
	border: solid 3px #848389;
	position: relative;
}

.postDate {
        position: absolute;
        top: 10px;
        right: 20px;
}
.postDetail {
        padding-bottom: 30px
}