.album ul img{
	width: 220px;
	height: 146px;

}
.album ul .projectName {
	margin: 4px 0 4px 4px;
	text-decoration: none;
	color: #fff;
	font-size: 14px
}

.album ul li *{
	display: block;
}
.album ul li {
	margin: 0 8px 8px 0;
	width: 219px;
	border: 1px solid #2A2A2A;
	float: left;
}
.album ul li span {
	padding: 4px 4px 4px 4px;
	font-size: 11px
}

/*this line is for latest project*/

.album {
	color: #FFFFFF;
    font-family: 'Quicksand',Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding: 20px;
}
.threedot {
	background: url(../img/threedot.png) no-repeat;
	width: 60px;
	height: 16px;
	display: block;
	margin: 20px 0 0 20px;
}